@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel');

:root {
  /* colours */
  --clr-primary: #678e3e;
  --clr-primary-Light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  /* font-family */
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;
  /* transition, etc */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set body with you want */
body {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  color: var(--clr-grey-1);
  background: var(--clr-white);
  line-height: 1.5;
}

/* set p, a , img */
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
p {
  margin-bottom: 1.25rem;
}

/* set heading  */
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

/* set font-size for heading */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

/* media screen if 800px */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* more-global for reusable */
.btn {
  display: inline-block;
  background: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  padding: 0.75rem 1rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* for smooth */
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-primary-Light);
  color: var(--clr-primary);
}

/* clearfix float */
.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

/* section-title */
.section-title h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/* header */
.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/main-bcg.jpeg') center/cover no-repeat fixed;
  min-height: 100vh;
  /* animation */
}

/* banner for move text to center */
.banner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* banner h2 */
.banner h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

/* banner h1 */
.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  /* dont forget */
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

/* banner btn outline-offset */
.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

/* content-divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    #333,
    var(--clr-primary)
  );
}

/* skill */
.skills {
  background: var(--clr-grey-10);
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  /* for smooth */
  transition: var(--transition);
}

.skill-icon {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: var(--clr-primary);
  transition: var(--transition);
}

.skill:hover {
  box-shadow: 0 5px var(--clr-primary);
  background: var(--clr-white);
}

.skill:hover .skill-icon {
  transform: translateY(-5px);
}

.skill-text {
  max-width: 17rem;
  margin: 0 auto;
}

@media screen and (min-width: 568px) {
  .skill {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

/* about */
.about-img,
.about-info {
  padding: 2rem 0;
}

.about-picture-container {
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  /* extra stuff */
  overflow: hidden;
}

.about-picture {
  transition: var(--transition);
}

.about-picture-container:hover .about-picture {
  transform: scale(1.25);
  opacity: 0.7;
}
.about-text {
  max-width: 40rem;
  text-align: justify;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-img {
    padding-right: 1.25rem;
  }
}
