/* 
===================
Fonts
===================
*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

/* 
===================
Variables
===================
*/

:root {
  /* colours */
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-gray-1: #102a42;
  --clr-gray-5: #617d98;
  --clr-gray-10: #f1f5f8;
  --clr-white: #fff;

  /* fonts */
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;

  /*Effect animation, spacing, and radius  */
  --transition: all 0.3s linear;
  --spacing: 0.25rem; /* 4px */
  --radius: 0.5rem; /*8px*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-gray-1);
  line-height: 1.5;
  font-size: 0.875rem; /*14px*/
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* setting for heading */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem; /* 12px*/
}

/* set font size for heading */

h1 {
  font-size: 3rem; /*48px*/
}
h2 {
  font-size: 2rem; /*32px*/
}
h3 {
  font-size: 1.5rem; /*24px*/
}
h4 {
  font-size: 0.875rem; /*14px*/
}

/* set of paragraph */

p {
  margin-bottom: 1.25rem; /*20px*/
}

/* media query for heading and body */

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem; /*64px*/
  }
  h2 {
    font-size: 2.25rem; /*36px*/
  }
  h3 {
    font-size: 2rem; /*32px*/
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* more global */
.btn {
  display: inline-block;
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  /* add padding: tb:6px and lf:12  */
  padding: 0.375rem 0.75rem;
  /* add spacing */
  letter-spacing: var(--spacing);
  font-weight: 700;
  transition: var(--transition);
  /* change fonts cz default fonts is 14px*/
  font-size: 0.875rem;
  /* add border none cz this has border */
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/* for clearfix float */
.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}

/* section-title be global css
change color and font .section-title h3
*/

.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

/* add margin-bottom on section-title */
.section-title {
  margin-bottom: 2rem;
}

/* add padding top-bottom 
to section-center for space between skill section*/
.section-center {
  padding: 4rem 0;
  /* change width section-center be 85vw  */
  width: 85vw;
  margin: 0 auto;
  /* add max-width for img
  and remember on my laptop default width is 1387px */
  max-width: 1170px;
}

/* here add 992px for media query
and padding left right is 1 rem
*/
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/*
=================== 
 Header 
=================== 
*/

.header {
  /* set to min-height 
  for big-screen or small screen and be responsive */
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/main-bcg.jpeg') center/cover no-repeat fixed;
  /* add position be relative */
  position: relative;
  /* add animation */
  overflow-x: hidden;
}

/* here banner for text be center */
.banner {
  text-align: center;
  /* absolute with parent header */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 
  cz text actually not center
  add negative translate x and y for be center
  */
  transform: translate(-50%, -50%);
}

/* set banner h2 */
.banner h2 {
  /* change font and color text */
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  /* animation */
}

/* set banner h1 */
.banner h1 {
  /* overide here so not same with root */
  /* change h1 be uppercase and change color */
  text-transform: uppercase;
  color: var(--clr-white);
  /* add margin top 20px and 
  bottom 32px */
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
}

/* add outline and offset on banner-btn */
.banner-btn {
  /* 2px */
  outline: 0.125rem solid var(--clr-primary);
  /* 4px */
  outline-offset: 0.25rem;
  /* and override again change font-size and padding 
  be bigger*/
  font-size: 1.25rem; /*20px*/
  padding: 1rem 1.75rem; /*tb: 16px lr:28px*/
}

/* add content-divider
just for line on bottom header
*/
.content-divider {
  height: 0.5rem; /*8px*/
  background: linear-gradient(var(--clr-primary), #e9b949, var(--clr-primary));
}

/* 
===================
Skills
===================
*/

/* add background on whole section skills section */
.skills {
  background: var(--clr-gray-10);
}

/* add padding on each article skill */
.skill {
  /* move text to center */
  text-align: center;
  /* tb:40px lr:0 */
  padding: 2.5rem 0;
  /* add animation */
  transition: var(--transition);
}

/* 
skill-icons
*/
.skill-icons {
  /* add display:inline-block
  cz margin-top / bottom not respect on browser if 
  element is inline element and span is inline element
  */
  display: inline-block;
  /* changed font-size on skill-icons */
  font-size: 2.5rem;
  /* default margin-bottom on u r heading is :12px 
  change be 20px*/
  margin-bottom: 1.25rem;
  /* change colors icon be primary */
  color: var(--clr-primary);
  /* add animation */
  transition: var(--transition);
}

/* 
for paragraph or skill-text
*/

.skill-text {
  /* change colors */
  color: var(--clr-gray-5);
  /* here paragraph spanning all cross div
  changed use max-width :300px
  */
  max-width: 18.75rem;
  /* move text-paragraph to center use margin */
  margin: 0 auto;
}

/* add hover on skill article */
.skill:hover {
  /* here will smooth cz before add transition on skill */
  background: var(--clr-white);
  /* add box-shadow y for each article skill */
  box-shadow: 0 2px var(--clr-primary);
}

/* his means what's happen on skill-icons 
if click .skill:hover and then .skill-icons
*/
.skill:hover .skill-icons {
  transform: translateY(-5px);
}

/* here skill class on article has 4 and will set to float
changed use media query on screen 576px
is small devices landscape phones..
*/
@media screen and (min-width: 576px) {
  .skill {
    float: left;
    /* changed .skill be 2 coloumn use 50% */
    width: 50%;
  }
}

/* here skill class on article has 4 and will set to float
changed use media query on screen 1200px
is for desktop.
*/
@media screen and (min-width: 1200px) {
  .skill {
    width: 25%;
  }
}

/* 
===================
About
===================
*/

/* create space 
padding top-bottom between :
about-img, and about-info
*/
.about-img,
.about-info {
  padding: 2rem 0;
}

/* add border on div img */
.about-picture-container {
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary); /*8px*/
  /* and here change be max-width for image not bigger */
  max-width: 30rem; /*480px*/
  /* extra stuff */
  overflow: hidden; /*here for hidden scale tranform*/
}

/* add picture be animation */
.about-picture {
  transition: var(--transition);
}

/* here for effect 
if click div img container for target .about-pict
will get effect
*/
.about-picture-container:hover .about-picture {
  transform: scale(1.2);
  opacity: 0.5;
}

/*max-width for paragraph 
about-text */
.about-text {
  max-width: 26rem; /*416px */
}

/* add media query for float two coloumn */
@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 2rem;
  }
}

/*
=================== 
 Products 
=================== 
*/

/* add background whole from to section products */
.products {
  background: var(--clr-gray-10);
}

/* give space between products
and article
*/

/* .product-info,
.product-inventory {
  padding: 2rem 0;

} 
its same with here*/

.product article {
  padding: 2rem 0;
}

/* and change color product-text */
.product-text {
  color: var(--clr-gray-5);
}
